footer {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr ;
    margin-top: 80px;
}

.contact{
    grid-row: 1 /span 2;
    margin:  auto;
    width: 30%;
    border-bottom:  #f2e4977c 2px solid;
}

.contactTeamwork { 
    grid-row: 1 /span 2;
    grid-column: 1;
    padding-top: 100px;
    padding-left: 250px;
}