/* Overskrifter med "under"overskrifter*/
.kompetencer, .about, .contact {
    padding-top: 0;
    font-size: 120px;
    font-weight: normal;
    color:  #76386b1a;
    border-bottom:  #f2e4977c 2px solid;
    grid-column: 1 /span 2;
}

.webdeveloper, .who, .contactTeamwork  {
    margin-top: -180px;
    margin-left: 360px;
    width: auto;
    grid-column: 1 /span 2;
    font-size: xx-large;
}


/* Portfolio elementer */
.portfolio-items {
    grid-row: 2;
    grid-column: 1 /span 2 ;
    z-index: auto;
    margin-left: 5vh;
    display: flex;
    flex-direction: row;
}

.item img {
margin: 20px;
border: #F2E497 3px solid;
filter: grayscale(90%);
}

.item img:hover { 
    filter: none;
    transform: scale(1.1);
}

.mobile img{
    height: 40vh;
    width: auto;

}

.disktop img{
    width: 40vh;
    height: 20vh;
}


/* Kompetencer */
.skill, .aboutMe {
    padding-top: 100px;
    grid-column: 1 /span 2;
    margin: auto;
    
}
.skill img {
    /* margin-left: -300px; */
    margin-top: -40px;
    height: 60vh;
    border-radius: 10% ;
}

.skillslogos {
    grid-row: 2;
    grid-column: 2;
}



.html {
    border: #F2E497 3px solid;
    border-radius: 10%;
    color: rgb(255, 255, 255);
    width: 60%;
    height: auto;
    margin-left: 20% ;
    padding: 30px;
    justify-content: center;
    background-color: #76386b8c; 
}


.htmlText {
    display: flex;
}

.html img {
    justify-self: space-evenly;
    height: 5em;
}




